.wrapper {
    display: grid;
    cursor: pointer;
    background-color: aquamarine;
}

.wrapper_image {
    position: relative;
    height: 240px;
}

.hits_name {
    font-size: 20px;
    margin-bottom: 5px;
}






