.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.wrapper_menu {
    width: 300px;
    margin-right: 60px;
}

.hit_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.hit_item {
    position: relative;
    object-fit: contain;
}

@media (max-width: 1200px) {
    .wrapper_menu {
        width: 210px;
        margin-right: 30px;
    }
    .hit_item {
        width: 240px;
    }
  }

@media (max-width: 998px) {
    .hit_list {
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: auto;
    }
    .hit_list {
        grid-template-columns: 1fr 1fr;
    }
    .wrapper_menu {
        display: none;
    }
  }

  @media (max-width: 576px) {
    .hit_item {
        width: 165px;
    }
  }